<!--template base.html-->
{%load static %}
<!-- This is the base template for the Task Manager application. It includes the header, navigation, and a block for content. -->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
        {% if user.is_authenticated %}
            <span>👋 Καλωσήρθες, {{ user.username }}!</span>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% endif %}
        </nav>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>
    
<script src="{% static 'js/calendar.js' %}"></script>

    {% include 'footer.html' %}
</body>
 