<!--footer.html-->
<footer>
    <div class="footer-container">
        <!--πνευματικα δικαιωματα και σημειωση-->
        <div class="footer-info">
            <p>© 2025 Task Manager - All Rights Reserved</p>
            <p>Made by Λευτέρης Μπαλαμπάνης</p>
        </div>

        <!--Στοιχεια επικοινωνιας-->
        <div class="footer-contact">
            <p>Για επικοινωνία, στείλτε email στο: <a href="mailto:mpalampanisleft@gmail.com">mpalampanisleft@gmail.com</a></p>
            <p>Ή επικοινωνήστε μέσω της <a href="{% url 'contact_form' %}">φόρμας επικοινωνίας</a></p>
        </div>
    </div>
</footer>
